.layout {
    position: relative;
    width: 100%;
    height: 100%;
    background: #14142b;
    display: flex;
    flex-direction: column;
}

.content {
    width: calc(100% - 20px);
    margin: 0 auto;
}

/* Chrome/Safari 隐藏滚动条但保留功能 */
.content::-webkit-scrollbar {
    width: 0 !important; /* 宽度设为 0 */
    height: 0 !important;
    display: none; /* 完全隐藏 */
}

.main {
    margin-top: 125px;
    height: calc(100% - 205px);
    overflow: auto;

    .text-main {
        position: fixed;
        top: 80px;
        background: #14142b;
        height: 35px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 11;

        .vertical-text {
            height: 35px;
            --tw-bg-opacity: 0.4;
            background-color: rgba(252, 196, 13, var(--tw-bg-opacity));
            border-radius: 10px;
            width: calc(100% - 20px);
        }

        .vertical-swiper {
            height: 35px;
            overflow: hidden;
            position: relative;
        }
    }
}

::v-deep(.vertical-text .swiper-container-vertical) {
    height: 35px;
}

::v-deep(.vertical-text .swiper-slide) {
    height: 35px;
    line-height: 35px;
}

.notice-item {
    text-align: left;
    padding-left: 10px;
    color: #fff;
    line-height: 35px;
    font-size: 20px;
    height: 35px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
