.single-container {
    padding: 10px;
    overflow: auto;
    background: #24263a;
    border-radius: 10px;

    .single-btn {
        width: 70%;
        text-align: center;
        padding: 10px 0;

        font-size: 20px;
        border-radius: 10px;
        color: #fff;
        background: #626263;
        font-weight: 700;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .green {
        color: #10b981 !important;

        span {
            color: #10b981 !important;
        }
    }
    .red {
        color: #ef4444 !important;

        span {
            color: #ef4444 !important;
        }
    }

    .single-footer-data {
        line-height: 50px;
        color: #999;
        font-size: 20px;
        font-family: "微軟正黑體", Helvetica, Arial, PingFangTC-Light, STHeitiTC-Light,
            "Microsoft JhengHei", sans-serif;
        font-weight: 700;
    }

    .single-detail {
        width: 100%;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .single-detail-cell-name {
            color: #fcc40d !important;
        }

        .single-detail-cell {
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            overflow: hidden;
            color: #999;
            background: #14142b;
        }

        .single-detail-cell > div:first-child {
            word-wrap: break-word;
            box-sizing: border-box;
            color: #7e7e7e;
            padding-left: 10px;
            padding-top: 10px;
            font-size: 18px;
        }

        .single-detail-cell > div:last-child {
            word-break: break-all;
            text-align: center;
            color: #999;
            font-size: 16px;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .single-detail-cell > div:last-child span {
            word-break: break-all;
            text-align: center;
            padding: 10px 0;
            color: #999;
            font-size: 16px;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .single-images {
        width: 100%;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-bottom: 0;
        width: 100%;
        gap: 14px;
        display: grid;
    }
}
